@font-face {
  font-family: "Suit";
  src: url("/github-pages/fonts/SUIT-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("/github-pages/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

* {
  font-family: "Suit", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
}

pre,
code,
kbd,
samp,
.line span {
  font-family: "Fira Code", ui-monospace, Menlo, Consolas, "Courier New",
    monospace !important;
}

:not(pre) > code {
  display: inline-block;
  background: var(--code-bg);
  color: var(--text);
  padding: 3px 6px;
  border-radius: 6px;
  border: 1px solid var(--code-border);
}

pre code {
  display: block;
  background: transparent;
  color: inherit;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

pre {
  padding: 20px;
  border-radius: 10px;
}
